local.properties
bin/
gen/
build/
*.swp
*.swo
.cache
*.class
*.apk
*.iml
*.pickle
.idea
signs.jet
app/release/
tools/__pycache__/
.settings
.gradle
app/src/main/java/in/rab/tsplex/Attributes.kt
app/src/main/java/in/rab/tsplex/DatabaseVersion.kt
app/src/main/java/in/rab/tsplex/Topics.kt
